profile=conventional
ocaml-version=5.0.0~beta1
break-separators=before
dock-collection-brackets=false
doc-comments=before
let-and=sparse
type-decl=sparse
cases-exp-indent=2
break-cases=fit-or-vertical
parse-docstrings=true
module-item-spacing=sparse
